{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="blog.html" class="stext-109 cl8 hov-cl1 trans-04">
				Blog
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ object.title }}
			</span>
		</div>
	</div>


	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!--  -->
						<div class="wrap-pic-w how-pos5-parent">
							<img src="{{ object.detail_image.url }}" alt="IMG-BLOG">

							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center">
									{{ object.created_at|date:"F d, Y" }}
								</span>

								{% comment %} <span class="stext-109 cl3 txt-center">
									Jan 2018
								</span> {% endcomment %}
							</div>
						</div>

						<div class="p-t-32">
							<span class="flex-w flex-m stext-111 cl2 p-b-19">
								<span>
									<span class="cl4">By</span> {{ object.user.get_full_name }}  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{{ object.created_at|date:"F d, Y" }}
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{% for tag in object.tags.all %}
                                        <a href="{% url 'blogs:list' %}?tag={{ tag.pk }}">#{{ tag.name }}</a>
                                    {% endfor %}
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{% if object.comments.values %}
                                	<li>{{ object.comments.values.count }} Comments</li>
                            		{% endif %}
								</span>
							</span>

							<h4 class="ltext-109 cl2 p-b-28">
								{{ object.title }}
							</h4>

							<p class="stext-117 cl6 p-b-26">
								{{ object.body|safe }}
							</p>

							{% comment %} <p class="stext-117 cl6 p-b-26">
								Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis accumsan felis, quis vulputate
							</p> {% endcomment %}
						</div>

						<div class="flex-w flex-t p-t-16">
							<span class="size-216 stext-116 cl8 p-t-4">
								Tags
							</span>

							<div class="flex-w size-217">
								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									{% for tag in object.tags.all %}
                                        <a href="{% url 'blogs:list' %}?tag={{ tag.pk }}">#{{ tag.name }}</a>
                                    {% endfor %}
								</a>

								{% comment %} <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a> {% endcomment %}
							</div>
						</div>

						<div class="container">
                            <hr class="mb-2">
                            {% for comment in object.comments.values %}
                            <div class="row mb-1">
                                <div class="blog__details__author__pic mr-2">
                                    <img src="{{ object.user.user_image.url }}" class="ml-3" style="width: 0.8cm;; height: 0.8cm" alt="{{ object.user }} image">
                                </div>
                                <div class="blog__details__author__text mt-1">
                                    <strong>{{ object.user.username }}</strong>
                                </div>
                                <div class="text-right mt-1" style="position: absolute; right: 20px;">
                                    <small>{{ comment.created_at|timesince }}</small>
                                </div>
                                <div class="col-12 mt-2">
                                    <p class="ml-2">
                                        {{ comment.comment }}
                                    </p>
                                    <hr class="mb-1">
                                </div>
                            </div>
                            {% endfor %}
                        </div>

						<!--  -->
						<div class="p-t-40">
							<h5 class="mtext-113 cl2 p-b-12">
								Leave a Comment
							</h5>

							<p class="stext-107 cl6 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<form action="{% url 'blogs:comment' pk=object.pk %}" method="post">
								{% csrf_token %}
								<div class="bor19 m-b-20">
									<textarea class="stext-111 cl2 plh3 size-124 p-lr-18 p-tb-15" name="cmt" placeholder="Comment...">{{ comment_form.comment }}</textarea>
								</div>

								<div class="bor19 size-218 m-b-20">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="name" placeholder="Name *">
									{{ comment_form.name }}
								</div>

								<div class="bor19 size-218 m-b-20">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="email" placeholder="Email *">
									{{ comment_form.email }}
								</div>

								{% comment %} <div class="bor19 size-218 m-b-30">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="web" placeholder="Website">
								</div> {% endcomment %}

								<button type='submit' class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
									Post Comment
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

{% endblock content %}