{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'main/images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>


	<!-- Content page -->
	<section class="bg0 p-t-70 p-b-70">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form action="{% url 'main:contact_create' %}" method="post">
						{% csrf_token %}
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Send Us A Message
						</h4>

						<div class="bor8 m-b-20 how-pos4-parent">
							<div class="stext-108 cl2 plh3 size-116 p-l-62 p-r-30 d-flex">
							{{ contact_form.name }}
							</div>
							
							<div class="how-pos4 pointer-none">
								<i class="fa fa-user-o fa-lg" style="opacity:65%" aria-hidden="true"></i>
							</div>
							
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<div class="stext-108 cl2 plh3 size-116 p-l-62 p-r-30 d-flex">
							{{ contact_form.email }}
							</div>
							<img class="how-pos4 pointer-none" src="{% static 'main/images/icons/icon-email.png' %}" alt="ICON">
						</div>
						
						<div class="how-pos4-parent">
							
							<div class="stext-108 cl2 plh3 size-120">
								{{ contact_form.message }}
							</div>
						</div>

						<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Submit
						</button>
					</form>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
							</p>
						</div>
						
					</div>
					
					

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								USA
							</span>

							<p class="stext-115 cl1 size-213 p-t-7 p-b-12">
								+1 800 1236879
							</p>

							<span class="mtext-110 cl2">
								Uzbekistan
							</span>
							<p class="stext-115 cl1 size-213 p-t-7 p-b-12">
								+99 890 123 68 79
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								contact@example.com
							</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>	
	
	
	<!-- Map -->
	<div class='container'>
		<div class="map">
			<div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="{% static 'main/images/icons/pin.png' %}" data-scrollwhell="0" data-draggable="1" data-zoom="11">
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

{% endblock content %}